<div class="login-page mypage-layout">
  <h1 class="login-title">ãƒžã‚¤ãƒšãƒ¼ã‚¸</h1>
  
  <div class="login-form">
    <ul class="mypage-menu">
      <li class="menu-item"><%= link_to "âœï¸ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚’ç·¨é›†", edit_user_registration_path %></li>
      <li class="menu-item"><%= link_to "ðŸ“šè¨˜éŒ²ã™ã‚‹", new_record_path %></li>
      <li class="menu-item"><%= link_to "ðŸ—“ï¸ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼/ã‚°ãƒ©ãƒ•", analytics_records_path %></li> 
      <li class="menu-item"><%= link_to "âœ”ï¸ToDoãƒªã‚¹ãƒˆ", tasks_path %></li>
      <li class="menu-item"><%= link_to "ðŸ†ãƒ©ãƒ³ã‚­ãƒ³ã‚°", ranking_users_path %></li> 
      <li class="menu-item"><%= link_to "ðŸ’å›³é‘‘", encyclopedia_user_flowers_path %></li>
      <li class="menu-item">
        <% current_user_total_hours = current_user.total_record_duration_hours %>
        <%= link_to "âœ¨Xã§è¨˜éŒ²ã‚’ã‚·ã‚§ã‚¢ã™ã‚‹", 
                "https://twitter.com/intent/tweet?text=#{CGI.escape("ã¶ã‚‹ãƒ¼ã¿ã‚“ãã‚Œã“ãƒ¼ã©ã§åˆè¨ˆ#{current_user_total_hours}æ™‚é–“è¨˜éŒ²ã—ãŸã‚ˆï¼")}&url=#{CGI.escape(root_url)}", 
                target: "_blank", 
                rel: "nofollow noopener"
                %>
      </li>
    </ul>
    
    <div class="login-links">
      <hr>
      <%= link_to "ðŸšªãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, data: { turbo_method: :delete }, class: "login-btn logout-btn" %>
    </div>
  </div>
</div>