<header>
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path %></li>

      <% unless user_signed_in? %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>

      <li><%= link_to "プライバシーポリシー", pages_privacy_path %></li>
      <li><%= link_to "利用規約",  pages_terms_path %></li>

      <% if user_signed_in? %>
        <li><%= link_to "マイページ", new_user_session_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <% end %>
    </ul>
  </nav>
</header>
