<header>
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "プライバシーポリシー",root_path  %></li>
      <li><%= link_to "利用規約",root_path  %></li>
      <li><%= link_to "お問い合わせ","https://docs.google.com/forms/d/1kPlL1pLXtopKQ8Ft-IyeMvwy5qFzlPX14c8W5Xi6MMc/edit%"></li>
      <li><%= link_to "マイページ", root_path %></li>
      <li><%= link_to "ログアウト", root_path %></li>
    </ul>
  </nav>
</header>