<h2>記録しよう！</h2>

<div id="timer-section">
<div id="timer">00:00:00</div>

<button id="start">開始</button>
<button id="stop">停止</button>
<button id="record">記録</button>

<div id="flower-message" class="hidden"></div>

<% if flash[:notice] || flash[:alert] %>
<div id="message"
data-flash-message="<%= flash[:notice] || flash[:alert] %>"
data-flash-image="<%= asset_path(flash[:flower_image]) if flash[:flower_image] %>"
class="hidden">
</div>
<% end %>

<ul id="records"></ul>
</div>

<!-- ✅ 記録内容のフォーム -->
<%= form_with model: [@user_flower, @record], data: { turbo: false } do |f| %>
<%= f.label :task_name, "作業内容" %>
<%= f.text_field :task_name %>

<!-- 初期値は 0 -->
<%= hidden_field_tag :time, 0, id: "timer_seconds" %>
<%= f.hidden_field :time, id: "record_time" %>
<% end %>