<h2><%= @user_flower.flower.name %> の記録</h2>

<%= form_with model: [@user_flower, @record], local: true do |f| %>
  <div>
    <%= f.label :task_name, "今日やったこと" %>
    <%= f.text_area :task_name %>
  </div>
  <div>
    <%= f.submit "記録する" %>
  </div>
<% end %>

<!-- anime.jsでアニメーション -->
<div id="record-animation" style="display: none;">🌸 記録完了 🌸</div>
