<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "ぶるーみんぐれこーど" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

    <meta property="og:image" content="<%= asset_url('logo2.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('FullBloom1.png') %>">
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag "logoheader.png", alt: "ぶるーみんぐれこーど ロゴ", class: "header-logo" %>
          <% end %>
        </div>
        <div class="menu-area">
          <button class="menu-toggle" id="menu-toggle">
            <%= image_tag "navi.png", alt: "メニュー", class: "menu-icon" %>
          </button>
          <nav class="nav-menu" id="nav-menu">
            <ul>
              <%= render 'shared/header' %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="container">
      <div class="content">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>